{% extends "base.html" %}
{% block content %}

<div class="container">
   
    <h1 class="display-3" style="background-color:yellowgreen">Over ons</h1>
    <img src="/static/staff.jpeg" alt="Ons Team" width="1300" height="400">
    <div class="jumbotron jumbotron-fluid" style="background-color: rgb(255, 255, 255)">
        <div class="container">
          <h1 class="display-4">Ons Team en onze Visie</h1>
          <p class="lead">Warmte, saamhorigheid en plezier. Dat is wat bij vakantiepark Leniel centraal staat. Al sinds januari 2022 verzorgen wij u een fantastisch en onvergetelijk vakantie. Ons vakantie park is 100% co2 neutraal en klimaat behoudt is bij ons een prioriteit. Naast dat onze huisjes ontzetten comfortabel zijn en dat ze u voorzien van alle voorzieningen die je maar kunt wensen, kun je bij ons ook terecht voor een verrukkelijke maaltijd. Onze keuken is voor gasten open van 16:00 tot 22:00. 
            Ook wanneer relaxen niet uw ding is, is er genoeg te doen op vakantiepark Leniel. Zo kun je bijvoorbeeld terecht bij ons grote zwemparadijs of de bowlingbaan.
            Kortom, voor een fantastisch vakantie bent u welkom bij vakantiepark Leniel!</p>
        </div>
      </div>



    
</div>




{% endblock %}